
*{
    font-family:Helvetica;
    font-weight: 2px;
}

.wd-screen{
    background-color: black;
    position: absolute;
    left: 25%;
    right : 25%;
    width : 600px;
}

.wd-body{
    margin-left: 16px;
}

.wd-search-body{
    padding-top: 10px;
    padding-left: 16px;
    border-style: solid;
    border-width: 1px;
    border-bottom-width: 5px;
    border-color: rgb(47, 51, 54);
    height : 85px;
}

.wd-search{
    float: left;
    padding:8px 10px;
    line-height:100%;
    color: white;
    border-radius: 50px;
    text-align:left;
    text-indent: 25px;
    background-color: rgb(32,35,39);
    width: 80%;
}

.wd-explore-settings{
    padding-top: 10px;
    float: right;
    margin-right : 12px;
}

.wd-hyperLink{
    position: relative;
    padding: 16px;
    font-size: 15px;
    text-decoration: none;
    float: left;
    color: rgb(110, 118, 125);
}

.wd-first-hyperlink{
    color: rgb(29, 161, 242);
    border-bottom-style: solid;
    border-bottom-color: rgb(29, 161, 242);
}

.wd-search-input{
    position: relative;
}

.wd-search-input i{
    position: absolute;
    left: 15px;
    top: 10px;
    color: gray;
}

.fa fa-cog{
    color: rgb(29, 161, 242);
}

.wd-border{
    height: 10px;
    background-color: rgb(110, 118, 125);
}


.wd-trending-posts{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(47, 51, 54);
    padding-left: 30px;
}

.wd-trending-header{
    display: inline-block;
    font-size: 13px;
    color: rgb(110, 118, 125);
    padding: 7px 0px 7px 0px;
}

.wd-trending-ellipse{
    display: inline-block;
    color: white;
    float: right; 
    padding-right: 20px;
    padding-top: 5px;
}

.wd-trending-post-name{
    color: white;
    font-weight: bold;
    padding: 7px 0px 7px 0px;
}

.wd-trending-ellipse-post{
    color: rgb(110, 118, 125);
    float: right; 
    padding-right: 20px;
}

.wd-twitter-verified-icon{
    font-size: 16px;
    color: rgba(217,217,217,1.00);
    vertical-align: text-bottom;
    position: relative;
    display: inline-block;
    max-width: 100%;
    height: 1.25em;
    fill: currentcolor;
}

.wd-post-small-image{
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 1px;
    border-radius: 9999px;
    position: relative;
    height: 16px;
    width: 16px;
}

.wd-trending-post-news{
    color: white;
    font-size: small;
    font-weight: bold;
    padding: 7px 0px 7px 0px;
}

.wd-news-post {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(47, 51, 54);
}

.wd-news{
    padding-left: 30px;
}

.wd-image-block{
    padding-top: 15px; 
    padding-left: 25px;
}

.wd-post-image-big{
    height: 100px;
    width: 100px; 
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
}

.wd-test{
    display: inline-block; 
    overflow: auto;
    padding-bottom: 60px;
}

.wd-news-headline{
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    width: 400px;
}

.wd-post-1{
    margin-bottom: -20px;
}